include ./partials/header.pug

main.content-wrapper.party
  h1 Qui prend quoi ?
  h2= party.name
  h3 Créé par #{party.author}

  fielset.share
    label(for="url") Partagez l'événement
    input(
      id="url" 
      value=`${url}` 
      data-clipboard=`${url}`
      data-share-url=`${url}`
      data-share-title=`${party.name}`
      data-share-text=`${party.author + ` vous invite a rejoindre l'événement ` + party.name}`
    )

  h3 Ajouter un produit à liste :
  include ./partials/addItem.pug

  h3 Produits apportés
  ul.items
    each item in party.items
      li= item.name